.alert {
  max-width: 20rem;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.alert-primary {
  background-color: var(--color-primary-dark);
}

.alert-warning {
  background-color: var(--color-warning-dark);
}

.alert-error {
  background-color: var(--color-error);
}

.alert-success {
  background-color: var(--color-success);
}

.alert-content {
  font-weight: 500;
}
