.btn {
  max-width: 10rem;
  font-weight: bold;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn-link {
  background-color: var(--color-blue-dark);
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.btn-solid-primary {
  background-color: var(--color-primary-dark);
}

.btn-solid-warning {
  background-color: var(--color-warning-dark);
}

.btn-solid-danger {
  background-color: var(--color-error-dark);
}

.btn-solid-safe {
  background-color: var(--color-success);
}

.btn-solid-primary {
  background-color: var(--color-primary-dark);
}

.btn-outline-primary {
  border: 2px solid var(--color-primary-dark);
  background-color: transparent;
  color: var(--accents-4); 
}

.btn-outline-primary:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-foreground); 
}

.btn-outline-warning {
  border: 2px solid var(--color-warning);
  background-color: transparent;
  color: var(--accents-4); 
}

.btn-outline-warning:hover {
  background-color: var(--color-warning);
  color: var(--color-foreground); 
}

.btn-outline-danger {
  border: 2px solid var(--color-error);
  background-color: transparent;
  color: var(--accents-4); 
}

.btn-outline-danger:hover {
  background-color: var(--color-error);
  color: var(--color-foreground); 
}

.btn-outline-safe {
  border: 2px solid var(--color-success);
  background-color: transparent;
  color: var(--accents-4); 
}

.btn-outline-safe:hover {
  background-color: var(--color-success);
  color: var(--color-foreground); 
}

.btn-float {
  padding: 0.75rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}
