.card {
  position: relative;
  padding: 0.75rem 1rem;
  background-color: var(--color-background-dark);
  border: 1px solid var(--color-background-darker);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card-vertical {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card-horizontal {
  max-width: 25rem;
  display: flex;
  gap: 1rem;
}

.card-horizontal .card-media {
  width: 40%;
  flex-shrink: 1;
  object-fit: contain;
}

.card-horizontal .card-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-horizontal .card-actions {
  margin-top: auto;
}

.card-horizontal .card-action-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.card-horizontal .card-action-icon.top-left {
  position: absolute;
  top: 1rem;
  left: 1.25rem;
  border: 1px solid var(--accents-2);
}

.card-media {
  max-width: 100%;
  border: 1px solid var(--color-background-darker);
  border-radius: 5px;
  object-fit: contain;
}

.card-primary {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.card-relative-media {
  position: relative;
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.card-subtitle {
  font-size: 0.875rem;
  font-weight: lighter;
  color: var(--accents-1);
}

.card-secondary {
  color: var(--accents-2);
}

.card-actions {
  display: flex;
  align-items: center;
}
.card-action-buttons {
  display: flex;
  gap: 0.25rem;
}

.card-action-button {
  text-transform: uppercase;
  color: var(--color-blue-lighter);
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  font-weight: 500;
}

.card-action-button:hover {
  background-color: var(--color-blue);
}

.card-action-icons {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}

.card-action-icon {
  padding: 0.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

.card-action-icon.top-right {
  position: absolute;
  top: 1.25rem;
  right: 1.5rem;
  border: 1px solid var(--accents-2);
}

.card-badge {
  position: absolute;
  top: 5%;
  left: 0;
}

.text-overlay {
  width: 100%;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  background-color: rgba(35, 38, 41, 0.4);
}

.hide-media {
  display: none;
}

.card-order-first {
  order: -1;
}

@media screen and (max-width: 480px) {
  .card-horizontal .card-title {
    font-size: 1.25rem;
  }
}
