@import url(https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/material-darker.min.css);

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh 0;
}



.card-media {
  background-color: var(--color-success);
}

.component-heading{
  color: var(--color-primary-light)
}