.header {
  position: fixed;
  margin: 0 1rem;
  width: 100%;
  background-color: var(--color-background);
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid var(--accents-4);
  z-index: 20;
}

.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-menu {
  margin-left: auto;
}

.navbar-links {
  list-style: none;
  margin-right: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--accents-1);
}

.navbar-link:hover {
  color: var(--color-foreground);
}
