* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

a,
button {
  cursor: pointer;
}

button,
input,
textarea {
  border: none;
  outline: none;
  background: none;
  font: inherit;
  color: inherit;
}
