body {
  margin: 0 1rem;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: 'Lato', sans-serif;
  letter-spacing: var(--letter-spacing);
  overflow-y: auto;
}



.main {
  margin-top: 7.5rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.showcase {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 5px;
  background-color: var(--showcase-color);
  border: 1px solid var(--color-background-dark);
}

.showcase-typography{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 5px;
  background-color: var(--color-primary-dark);
  border: 1px solid var(--color-background-dark);
}

footer {
  text-align: center;
  background-color: var(--color-background);
  padding: 1rem;
}

@media screen and (max-width: 700px) {
  .main {
    width: 100%;
  }

  .showcase {
    flex-direction: column;
    align-items: center;
  }
}


